.sidenav{
  height: 100vh;
  position: fixed;
  background-color: #2B7A78;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 0;
  z-index: 1;
  display: none;

  .brand{
    width: 100%;
    background-color: white;
  
    img {
      width: 100px;
      margin: 20px 0;
      margin-left: calc((100% - 100px)/2);
    }
  }

  hr{
    margin: 0;
  }

  .link{
    color: white;
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    transition: all 0.2s ease-in-out;

    &.current-path{
      background-color: #17252A;
    }

    &:hover {
      text-shadow: -0.015em -0.015em 0 white, 0.015em -0.015em 0 white, -0.015em 0.015em 0 white, 0.015em 0.015em 0 white;
    }
  }
}

.menu-btn, .menu-close-btn {
  position: fixed;
  top: 0;
  right: 0;
  margin: 15px;
  background-color: #2B7A78;
  color:white;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1;
  height: 40px;
  width: 40px;
  box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.8);
}
