= javascript_pack_tag 'species/form', 'data-turbolinks-track': 'reload'

- if @specie.errors.any?
  #error_explanation
    h5 = "#{pluralize(@specie.errors.count, "erreur")} détecté:"
    ul
      - @specie.errors.full_messages.each do |message|
        li = message

.input-container.row.align-items-center
  .col-3
    = f.label :name
  .col-9
    = f.text_field :name, class:'form-control'

.input-container.row.align-items-center
  .col-3
    = f.label :classification
  .col-9
    = f.text_field :classification, class:'form-control'

.input-container.row.align-items-center
  .col-3
    = f.label :designation
  .col-9
    = f.text_field :designation, class:'form-control'

.input-container.row.align-items-center
  .col-3
    = f.label :average_height
  .col-9
    = f.text_field :average_height, class:'form-control'

.input-container.row.align-items-center
  .col-3
    = f.label :average_lifespan
  .col-9
    = f.text_field :average_lifespan, class:'form-control'

.input-container.row.align-items-center
  .col-3
    = f.label :eye_colors
  .col-9
    = f.text_field :eye_colors, class:'form-control'

.input-container.row.align-items-center
  .col-3
    = f.label :hair_colors
  .col-9
    = f.text_field :hair_colors, class:'form-control'

.input-container.row.align-items-center
  .col-3
    = f.label :skin_colors
  .col-9
    = f.text_field :skin_colors, class:'form-control'

.input-container.row.align-items-center
  .col-3
    = f.label :language
  .col-9
    = f.text_field :language, class:'form-control'

.input-container.row.align-items-center
  .col-3
    = f.label :planet
  .col-9
    = f.select :planet, options_for_select(planet_select(f.object.planet)), {}, {class: 'form-control'}

.input-container.row.align-items-center
  .col-3
    = f.label :characters
  .col-9
    = f.select :characters, options_for_select(multiple_characters(f.object.characters)), {}, {class: 'selectpicker form-control', multiple: "multiple"}