h1 Liste des espèces

table class="table table-hover"
  = link_to new_specie_path, data: {modal: true}, title: 'Ajouter une espèce', class: 'icon-btn-add row justify-content-center align-items-center' do 
    i.fa.fa-plus

  thead
    tr
      th Nom
      th.d-none.d-sm-table-cell Durée de vie
      th.d-none.d-sm-table-cell Classification
      th.d-none.d-md-table-cell Planète
      th.d-none.d-xl-table-cell Film(s)
      th

  tbody
    - @species.each do |specie|
      tr data-path="#{edit_specie_path(specie)}"
        td= specie.name
        td.d-none.d-sm-table-cell= specie.average_lifespan
        td.d-none.d-sm-table-cell= specie.classification
        td.d-none.d-md-table-cell= specie.planet.name
        td.d-none.d-xl-table-cell= inline_films(specie.films)
        td 
          = link_to specie, data: {modal: true}, class: 'icon-table-btn', title: 'Voir' do
            i.fa.fa-eye
          = link_to edit_specie_path(specie), data: {modal: true}, class: 'icon-table-btn', title: 'Modifier' do
            i.fa.fa-edit
          = link_to specie, data: { confirm: 'Are you sure?' }, method: :delete, class: 'icon-table-btn', title: 'Supprimer' do
            i.fa.fa-trash