.show-in-modal
  p= "Les #{@specie.name} sont une espèces de type #{@specie.designation} classé dans le groupe des #{@specie.classification}. Leur taille moyenne est de #{@specie.average_height}cm et ont une durée de vie de #{@specie.average_lifespan} ans."
  p= "Leurs yeux sont généralement de couleurs #{@specie.eye_colors}, leurs peau #{@specie.skin_colors} et leurs cheveux #{@specie.hair_colors}. On les retrouves généralement sur #{@specie.planet.name} et communique en #{@specie.language}."
  p= "On peut les apercevoir dans #{inline_films(@specie.films)}."