.modal {
  button.close{
    position: absolute;
    color: #2B7A78;
    font-size: 30px;
    line-height: 30px;
    top: 0;
    right: 0;
    opacity: 1;
    z-index: 1;
    outline: none;
    margin: 10px;
  }
}