= javascript_pack_tag 'planets/form', 'data-turbolinks-track': 'reload'

- if @planet.errors.any?
  #error_explanation
    h5 = "#{pluralize(@planet.errors.count, "erreur")} détecté:"
    ul
      - @planet.errors.full_messages.each do |message|
        li = message

.input-container.row.align-items-center
  .col-3
    = f.label :name
  .col-9
    = f.text_field :name, class:'form-control'

.input-container.row.align-items-center
  .col-3
    = f.label :diameter
  .col-9
    = f.text_field :diameter, class:'form-control'

.input-container.row.align-items-center
  .col-3
    = f.label :rotation_period
  .col-9
    = f.text_field :rotation_period, class:'form-control'

.input-container.row.align-items-center
  .col-3
    = f.label :orbital_period
  .col-9
    = f.text_field :orbital_period, class:'form-control'

.input-container.row.align-items-center
  .col-3
    = f.label :gravity
  .col-9
    = f.text_field :gravity, class:'form-control'

.input-container.row.align-items-center
  .col-3
    = f.label :population
  .col-9
    = f.text_field :population, class:'form-control'

.input-container.row.align-items-center
  .col-3
    = f.label :climate
  .col-9
    = f.text_field :climate, class:'form-control'

.input-container.row.align-items-center
  .col-3
    = f.label :terrain
  .col-9
    = f.text_field :terrain, class:'form-control'

.input-container.row.align-items-center
  .col-3
    = f.label :surface_water
  .col-9
    = f.text_field :surface_water, class:'form-control'
    
.input-container.row.align-items-center
  .col-3
    = f.label :characters
  .col-9
    = f.select :characters, options_for_select(multiple_characters(f.object.characters)), {}, {class: 'selectpicker form-control', multiple: "multiple"}

.input-container.row.align-items-center
  .col-3
    = f.label :films
  .col-9
    = f.select :films, options_for_select(multiple_films(f.object.films)), {}, {class: 'selectpicker form-control', multiple: "multiple"}

.input-container.row.align-items-center
  .col-3
    = f.label :species
  .col-9
    = f.select :species, options_for_select(multiple_species(f.object.species)), {}, {class: 'selectpicker form-control', multiple: "multiple"}