h1 Liste des planètes

table class="table table-hover"
  = link_to new_planet_path, data: {modal: true}, title: 'Ajouter une planète', class: 'icon-btn-add row justify-content-center align-items-center' do 
    i.fa.fa-plus

  thead
    tr
      th Nom
      th.d-none.d-sm-table-cell Diametre
      th.d-none.d-md-table-cell Espèce(s)
      th.d-none.d-xl-table-cell Population
      th.d-none.d-xl-table-cell Film(s)
      th

  tbody
    - @planets.each do |planet|
      tr data-path="#{edit_planet_path(planet)}"
        td= planet.name
        td.d-none.d-sm-table-cell= planet.diameter
        td.d-none.d-md-table-cell= inline_species(planet.species)
        td.d-none.d-xl-table-cell= planet.population
        td.d-none.d-xl-table-cell= inline_films(planet.films)
        td 
          = link_to planet, class: 'icon-table-btn', title: 'Voir' do
            i.fa.fa-eye
          = link_to edit_planet_path(planet), data: {modal: true}, class: 'icon-table-btn', title: 'Modifier' do
            i.fa.fa-edit
          = link_to planet, data: { confirm: 'Are you sure?' }, method: :delete, class: 'icon-table-btn', title: 'Supprimer' do
            i.fa.fa-trash