= form_for @planet, remote: true, html: {class: 'form-control', data: {modal: true}} do |f|
  = render partial: 'form', locals: {f: f}
  .row.justify-content-center = f.submit "Créer la planète", class: "btn btn-info"