.star-wars-card style="background-image: url(#{asset_pack_path('images/galaxy.jpg')})"
  .row.align-items-start
    .col-xs-12.col-md-6
      .planet
        .wrap
          .background style="background-image: url(#{asset_pack_path('images/planet.jpg')})"
          .clouds style="background-image: url(#{asset_pack_path('images/clouds.png')})"
        .mask

    .col-xs-12.col-md-6
      p= "La planète #{@planet.name} à un diamètre de #{@planet.diameter}km avec une gravité de #{@planet.gravity}. Sa période de rotation est de #{@planet.rotation_period} jours et sa période de révolution est de #{@planet.orbital_period} jours."

      p= "Sa population est de #{@planet.population} habitants. Elle est composé de #{@planet.surface_water}% d'eau à sa surface. Son climat est de type #{@planet.climate} et son sol de type #{@planet.terrain}."

      .row.justify-content-around
        = link_to "Modifier", edit_planet_path(@planet), data: {modal: true}, class: 'btn btn-sw btn-lg'
        = link_to "Supprimer", @planet, data: { confirm: 'Are you sure?' }, method: :delete, class: 'btn btn-sw btn-lg'

.row.align-items-start
  .col-xs-12.col-md-6.col-xl-4
    h4 Films
    .list-group
      - @planet.films.order(:title).each do |film|
        =link_to film.title, film, class: "list-group-item list-group-item-action"

  .col-xs-12.col-md-6.col-xl-4
    h4 Personnages
    .list-group
      - @planet.characters.order(:name).each do |character|
        =link_to character.name, character, data: {modal: true}, class: "list-group-item list-group-item-action"
  
  .col-xs-12.col-md-6.col-xl-4
    h4 Espèces
    .list-group
      - @planet.species.order(:name).each do |specie|
        =link_to specie.name, specie, data: {modal: true}, class: "list-group-item list-group-item-action"