= javascript_pack_tag 'films/form', 'data-turbolinks-track': 'reload'

- if @film.errors.any?
  #error_explanation
    h5 = "#{pluralize(@film.errors.count, "erreur")} détecté:"
    ul
      - @film.errors.full_messages.each do |message|
        li = message

.input-container.row.align-items-center
  .col-3
    = f.label :title
  .col-9
    = f.text_field :title, class:'form-control'

.input-container.row.align-items-center
  .col-3
    = f.label :episode_id
  .col-9
    = f.text_field :episode_id, class:'form-control'

.input-container.row.align-items-center
  .col-3
    = f.label :director
  .col-9
    = f.text_field :director, class:'form-control'

.input-container.row.align-items-center
  .col-3
    = f.label :release_date
  .col-9
    = f.text_field :release_date, class:'form-control'

.input-container.row.align-items-center
  .col-3
    = f.label :planets
  .col-9
    = f.select :planets, options_for_select(multiple_planets(f.object.planets)), {}, {class: 'selectpicker form-control', multiple: "multiple"}

.input-container.row.align-items-center
  .col-3
    = f.label :characters
  .col-9
    = f.select :characters, options_for_select(multiple_characters(f.object.characters)), {}, {class: 'selectpicker form-control', multiple: "multiple"}

.input-container.row.align-items-start
  .col-3
    = f.label :opening_crawl
  .col-9
    = f.text_area :opening_crawl, class:'form-control', rows: "10"