h1 Liste des films

table class="table table-hover"
  = link_to new_film_path, data: {modal: true}, title: 'Ajouter un film', class: 'icon-btn-add row justify-content-center align-items-center' do 
    i.fa.fa-plus

  thead
    tr
      th.d-none.d-sm-table-cell Episode
      th Titre
      th.d-none.d-md-table-cell Date de sortie
      th.d-none.d-xl-table-cell Producteur
      th

  tbody
    - @films.each do |film|
      tr data-path="#{edit_film_path(film)}"
        td.d-none.d-sm-table-cell= film.episode_id
        td= film.title
        td.d-none.d-md-table-cell= film.release_date
        td.d-none.d-xl-table-cell= film.producer
        td 
          = link_to film, class: 'icon-table-btn', title: 'Voir' do
            i.fa.fa-eye
          = link_to edit_film_path(film), data: {modal: true}, class: 'icon-table-btn', title: 'Modifier' do
            i.fa.fa-edit
          = link_to film, data: { confirm: 'Are you sure?' }, method: :delete, class: 'icon-table-btn', title: 'Supprimer' do
            i.fa.fa-trash

