.star-wars-card style="background-image: url(#{asset_pack_path('images/galaxy.jpg')})"
  .row.align-items-center
    .col-xs-12.col-md-6
      = image_tag asset_pack_path('images/star_wars.png')
      h2 = "Épisode #{@film.episode_id} - #{@film.title.upcase}"
      h4 = "Réalisé par #{@film.director}"
      h4 = "Produit par #{@film.producer}"
      h4 = "Sortie le #{l(@film.release_date, format: :long)}"

    .col-xs-12.col-md-6
      p = @film.opening_crawl

      .row.justify-content-around
        = link_to "Modifier", edit_film_path(@film), data: {modal: true}, class: 'btn btn-sw btn-lg'
        = link_to "Supprimer", @film, data: { confirm: 'Are you sure?' }, method: :delete, class: 'btn btn-sw btn-lg'

.row.align-items-start
  .col-xs-12.col-md-6.col-xl-4
    h4 Planètes
    .list-group
      - @film.planets.order(:name).each do |planet|
        =link_to planet.name, planet, class: "list-group-item list-group-item-action"

  .col-xs-12.col-md-6.col-xl-4
    h4 Personnages
    .list-group
      - @film.characters.order(:name).each do |character|
        =link_to character.name, character, data: {modal: true}, class: "list-group-item list-group-item-action"
  
  .col-xs-12.col-md-6.col-xl-4
    h4 Espèces
    .list-group
      - @film.species.order(:name).each do |specie|
        =link_to specie.name, specie, data: {modal: true}, class: "list-group-item list-group-item-action"