.container-fluid {
  padding-top: 20px;
}

.icon-btn-add{
  position: fixed;
  text-decoration: none !important;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #327a78;
  color: white !important;
  font-size: 30px;
  bottom: 10px;
  box-shadow: 0px 1px 10px 1px rgba(0,0,0, 0.6);
}

.icon-table-btn {
  color:#a9a9a9;
  padding: 0 5px;
  &:hover {
    color: #2B7A78;
  }
}

input[type="submit"] {
  background-color: #3AAFA9;
  margin: 0;

  &:hover {
    background-color: #2B7A78;
  }
}

form.form-control {
  padding: 30px 50px;

  .input-container{
    margin-bottom: 20px;
    
    label {
      margin: 0;
      font-size: 14px;
      font-weight: 600;
    }
  }
}

.alert{
  position: fixed;
  animation: popinout 3s;
  left: 50%;
  width: 98%;
  max-width: 600px;
  z-index: 2;
  transform: translateX(-50%);
  box-shadow: 0 2px 7px rgba(0,0,0,0.5);
  text-align: center;
  opacity: 0;
}

@keyframes popinout {
  0% { opacity:0; top: -100px }
  10% { opacity: 1; top: 10px }
  90% { opacity: 1; top: 10px }
  100% { opacity:0; top: -100px }
}

#error_explanation {
  background: #f3bfbf;
  border-radius: 5px;
  padding: 10px 20px;
  margin-bottom: 10px;
  ul {
    margin: 0;
  }
}

.show-in-modal {
  padding: 70px;
  text-align: justify;
}

.table {
  margin-bottom: 50px;
}

.star-wars-card{
  background-repeat: repeat;
  background-size: cover;
  color: #e2b100;
  margin: -20px -30px 40px -25px;
  overflow: hidden;

  div{
    text-align: center;
    
    img {
      width: 100%;
      max-width: 500px;
    }

    p {
      text-align: justify;
      text-align-last: center;
      padding: 20px 50px;
      font-size: 20px;
    }
  }

  .btn-sw{
    color: white;
    background-color: #e2b100;
    margin-bottom: 20px;
    
    &:hover {
      background-color: #c7a012;
    }
  }

  .planet {
    width: 300px;
    height: 300px;
    position: absolute;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 60px -20px rgba(255, 189, 3, 0.72), -14px -15px 40px -10px rgba(255, 238, 191, 0.23);
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
    .mask {
      width: 100%;
      height: 100%;
      position: absolute;
      box-shadow: inset -10px -10px 40px #251303, inset 10px 10px 30px -10px rgba(255, 204, 159, 0.6);
      border-radius: 50%;
    }
    .background {
      animation: translateBackground 40s infinite linear;
      background-repeat: repeat-x;
      width: 300px;
      height: 300px;
      position: absolute;
      border-radius: 50%;
    }
    .clouds {
      background-repeat: repeat-x;
      width: 300px;
      height: 300px;
      position: absolute;
      border-radius: 50%;
      animation: translateBackground 30s infinite linear;
      opacity: 0.4;
    }
    .wrap {
      width: 300px;
      height: 300px;
      position: absolute;
      border-radius: 50%;
      animation: rotatePlanet 150s infinite linear;
    }
  }
}

@keyframes translateBackground{
  0%{
    background-position-x:0;
  }
  100%{
    background-position-x:-600px;
  }
}
@keyframes rotatePlanet{
  0%{
    transform:rotateZ(0);
  }
  100%{
    transform:rotateZ(-360deg);
  }
}