= javascript_pack_tag 'characters/form', 'data-turbolinks-track': 'reload'

- if @character.errors.any?
  #error_explanation
    h5 = "#{pluralize(@character.errors.count, "erreur")} détecté:"
    ul
      - @character.errors.full_messages.each do |message|
        li = message

.input-container.row.align-items-center
  .col-3
    = f.label :name
  .col-9
    = f.text_field :name, class:'form-control'

.input-container.row.align-items-center
  .col-3
    = f.label :gender
  .col-9
    = f.text_field :gender, class:'form-control'

.input-container.row.align-items-center
  .col-3
    = f.label :birth_year
  .col-9
    = f.text_field :birth_year, class:'form-control'

.input-container.row.align-items-center
  .col-3
    = f.label :eye_color
  .col-9
    = f.text_field :eye_color, class:'form-control'

.input-container.row.align-items-center
  .col-3
    = f.label :hair_color
  .col-9
    = f.text_field :hair_color, class:'form-control'

.input-container.row.align-items-center
  .col-3
    = f.label :skin_color
  .col-9
    = f.text_field :skin_color, class:'form-control'

.input-container.row.align-items-center
  .col-3
    = f.label :mass
  .col-9
    = f.text_field :mass, class:'form-control'

.input-container.row.align-items-center
  .col-3
    = f.label :height
  .col-9
    = f.text_field :height, class:'form-control'

.input-container.row.align-items-center
  .col-3
    = f.label :planet
  .col-9
    = f.select :planet, options_for_select(planet_select(f.object.planet)), {}, {class: 'form-control'}
    
.input-container.row.align-items-center
  .col-3
    = f.label :films
  .col-9
    = f.select :films, options_for_select(multiple_films(f.object.films)), {}, {class: 'selectpicker form-control', multiple: "multiple"}

.input-container.row.align-items-center
  .col-3
    = f.label :species
  .col-9
    = f.select :species, options_for_select(multiple_species(f.object.species)), {}, {class: 'selectpicker form-control', multiple: "multiple"}