h1 Liste des personnages

table class="table table-hover"
  = link_to new_character_path, data: {modal: true}, title: 'Ajouter un personnage', class: 'icon-btn-add row justify-content-center align-items-center' do 
    i.fa.fa-plus

  thead
    tr
      th Nom
      th.d-none.d-sm-table-cell Espèce(s)
      th.d-none.d-md-table-cell Planète
      th.d-none.d-xl-table-cell Film(s)
      th

  tbody
    - @characters.each do |character|
      tr data-path="#{edit_character_path(character)}"
        td= character.name
        td.d-none.d-sm-table-cell= inline_species(character.species)
        td.d-none.d-md-table-cell= character.planet.name
        td.d-none.d-xl-table-cell= inline_films(character.films)
        td 
          = link_to character, data: {modal: true}, class: 'icon-table-btn', title: 'Voir' do
            i.fa.fa-eye
          = link_to edit_character_path(character), data: {modal: true}, class: 'icon-table-btn', title: 'Modifier' do
            i.fa.fa-edit
          = link_to character, data: { confirm: 'Are you sure?' }, method: :delete, class: 'icon-table-btn', title: 'Supprimer' do
            i.fa.fa-trash