.show-in-modal
  p= "#{@character.name} est née en #{@character.birth_year} et est originaire de la planète #{@character.planet.name}. Ses cheveux sont de couleur #{@character.hair_color}, sa peau #{@character.skin_color} et ses yeux #{@character.eye_color}. Il mesure #{@character.height}cm et pèse #{@character.mass}kg. Il fait parti de la race des #{inline_species(@character.species)}."

  p= "On a pu apercevoir ce personnage dans #{inline_films(@character.films)}."