.modal.fade#mainModal tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="mainModalLabel"
  .modal-dialog role="document"
    .modal-content
      button type="button" class="close" data-dismiss="modal"
        span aria-hidden="true"
          |&times;
      = yield